[submodule "external/cmsis/CMSIS_5"]
	path = external/cmsis/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "external/cmsis_device_g4/cmsis_device_g4"]
	path = external/cmsis_device_g4/cmsis_device_g4
	url = https://github.com/STMicroelectronics/cmsis_device_g4.git
[submodule "external/stm32g4xx_hal_driver/stm32g4xx_hal_driver"]
	path = external/stm32g4xx_hal_driver/stm32g4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
